<div class="add-bookmark-wrapper container has-blurred-white-bg">
  <h2 class="is-bold">New Bookmark</h2>
  <form #form="ngForm" ngNativeValidate (ngSubmit)="onFormSubmit(form)">
    <div class="form-field">
      <label class="form-label">Name</label>
      <input
        ngModel
        name="name"
        #textField="ngModel"
        class="textbox"
        type="text"
        placeholder="e.g. Google"
      />
    </div>

    <div class="form-field">
      <label class="form-label">URL</label>
      <input
        ngModel
        name="url"
        #urlField="ngModel"
        class="textbox"
        type="url"
        placeholder="e.g. https://google.com"
        required
      />
    </div>

    <div class="btns-container">
      <a routerLink="../" class="btn">Cancel</a>
      <button type="submit" class="btn align-end">Create Bookmark</button>
    </div>
  </form>
</div>
